body{
	background-color: deeppink;
}

.App {
  background-color: deeppink;
  min-height: 500px;
  width: 400px;
  margin:40px auto;
  
}

#to-do-form input{
	background-color:white;
	width: 200px;
	height: 50px;
	padding: 0 20px;
	margin:20 px;
	box-shadow: 0px 8px 27px -3px #97A1F5;
	border-radius: 73px;
	font-size: 16px;
	color: rgb(7, 8, 8);
}

#to-do-form input::placeholder{
	color: blue;
}
#to-do-form input:focus{
	outline: none;
}

#to-do-form button{
	height: 50 px;
	width: 80px;
	border-radius: 5 px;
	border:0;
	background-color: white;
	cursor: pointer;
	font-weight: bolder;
	color: white;
}





#box{
  width: 1512px;
	height: 982px;
  background-color: deeppink;
}

.rectanglebox {
	position: absolute;
width: 529px;
height: 64px;
left: 500px;
top: 330px;

background: #FFFFFF;

box-sizing: border-box;
box-shadow: 0px 8px 27px -3px #800976;
border-radius: 73px;
}
butto {
	
	width: 329px;
	height: 64px;
	left: 50px;
	top: 430px;
	border-radius: 73px;
	font-size: 16px;
	background-color: #FFFFFF;
	box-shadow: 0px 8px 27px -3px #97A1F5;
	color: #0C1BA4;
	box-sizing: border-box;	
	border: 3px solid rgba(0, 16, 171, 0.96);
}


