body{
	background:deeppink
}

.App{
  background-color: rgb(255, 20, 147);
  min-height: 500px;
  width: 400px;
  margin:40px auto;
  
}

#to-do-form input{
	background-color:white;
	border: 0px;
	width: 200px;
	height: 50px;
	padding: 0 20px;
	margin:20 px;
	box-shadow: 0px 8px 27px -3px #7160ad;
	border-radius: 73px;
	font-size: 16px;
	color: rgb(30, 30, 109);
}

#to-do-form input::placeholder{
	color: rgb(150, 150, 161);
}
#to-do-form input:focus,#to-do-form button:focus{
	outline: none;
}

#to-do-form button{
	height: 45px;
	margin:20px;
	width: 70px;
	border-radius:20px;
	border:0px;
	background-color: white;
	box-shadow: 0px 8px 27px -3px #767ba8;
	cursor: pointer;
	font-weight:bold;
	font-size: 16px;
	color: rgb(82, 31, 177);
}






#box{
  width: 1512px;
	height: 982px;
  background-color: deeppink;
}

.rectanglebox {
	position: absolute;
width: 529px;
height: 64px;
left: 500px;
top: 330px;

background: #FFFFFF;

box-sizing: border-box;
box-shadow: 0px 8px 27px -3px #800976;
border-radius: 73px;
}
butto {
	
	width: 329px;
	height: 64px;
	left: 50px;
	top: 430px;
	border-radius: 73px;
	font-size: 16px;
	background-color: #FFFFFF;
	box-shadow: 0px 8px 27px -3px #97A1F5;
	color: #0C1BA4;
	box-sizing: border-box;	
	border: 3px solid rgba(0, 16, 171, 0.96);
}


