.App {
  text-align: center;
  
}
#box{
  width: 1512px;
	height: 982px;
  background-color: deeppink;
}

.rectanglebox {
	position: absolute;
width: 529px;
height: 64px;
left: 500px;
top: 330px;

background: #FFFFFF;

box-sizing: border-box;
box-shadow: 0px 8px 27px -3px #800976;
border-radius: 73px;
}
button {
	width: 329px;
				height: 64px;
				left: 50px;
				top: 430px;
				border-radius: 73px;
				font-size: 16px;
				background-color: #FFFFFF;
				box-shadow: 0px 8px 27px -3px #97A1F5;
				color: #0C1BA4;
				box-sizing: border-box;	
				border: 3px solid rgba(0, 16, 171, 0.96);
				
}


